<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include('head') %>
</head>

<body>
    <form action="/addPost" method="post">
        <div class="box">
            <div>
                <input type="text" placeholder="titulo" name="title">
            </div>
            <div>
                <textarea class="w100" placeholder="conteudo" name="content" id="txtContent" cols="30"></textarea>
            </div>
            <button type="submit">postar</button>
        </div>
    </form>

    <div class="box">
        <%- posts.length %> posts
    </div>

    <% for (post of posts) { %>
        <div class="box">
            <div><%- post.title %></div>
            <div><%- post.content %></div>
            <div class="data-post"><%- post.createdAt %></div>
        </div>
    <% } %>
</body>
</html>